
  ul{width:200px;
    height:200px;
    margin:100px auto;
    position:relative;
    transform-style:preserve-3d;
    }    
  li{
    list-style:none;
    width:200px;
    height:200px;
    position:absolute;
    text-align:center;
    line-height:200px;
    font-size:80px;
    font-weight:bold;
    color:#fff;}
  li:nth-child(1){
    background:rgba(255,0,0,1);
    transform:rotateX(90deg)   translateZ(100px);}
  li:nth-child(2){
    background:rgba(0,255,255,1);
    transform:rotateX(-90deg)  translateZ(100px);}
  li:nth-child(3){
    background:rgba(255,0,255,1);
    transform:rotateY(90deg) translateZ(100px);}
  li:nth-child(4){
    background:rgba(0,255,0,1);
    transform: rotateY(-90deg) translateZ(100px);}
  li:nth-child(5){
    background:rgba(200,200,0,1);
    transform: rotateY(180deg) translateZ(100px) ;}
  li:nth-child(6){
    background:rgba(0,0,255,1);
    transform: translateZ(100px) ;}

    
  .button{width:200px;margin:20px auto;position:relative;}
  .buttontop{
    width:50px;height:30px;position:absolute;
    left:100px;top:0
  }
  .buttonright{
    width:50px;height:30px;position:absolute;
    left:200px;top:50px;
  }
  .buttonleft{
    width:50px;height:30px;position:absolute;
    left:0px;top:50px;
  }
  .buttonbot{
    width:50px;height:30px;position:absolute;
    left:100px;top:100px;
  }
  .buttonreset{
    width:50px;height:30px;position:absolute;
    left:100px;top:50px;
  }

            /*****當執行下列css時，立方體無限自由旋轉******/
  /* ul{-webkit-animation:run 5s linear infinite ;}    
  @-webkit-keyframes run{
      0%{-webkit-transform: rotateX(0deg) rotateY(0deg) }
      100%{-webkit-transform:rotateX(360deg)  rotateY(360deg)  }
  } */
